.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: 1px solid #F00;
}

.container ul{
    display: flex;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.container li{
    width: 33.333%;
    padding: 16px;
    text-align: center;
}

.content{
    display: flex;
    flex:1;
    overflow:auto;
}

.container .icon{
    width: 24px;
    height: 24px;
}